
.container{
    width: 100%;
    height: 50vh;
}
.mainn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    border-radius: 20px;
    margin-top: 70px;
}
.colorsbtns{
    width: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
}

button{
    width: 130px;
    border-radius: 20px;
    padding: 20px;
}